In [ ]:
# NOTES FOR MODULE 7

In [ ]:
# 7.1.1 Tools for SQL

In [ ]:
# PostgreSQL

# typically referred to as just "Postgres," is a relational database system. 

# This type of database consists of tables and their predefined relationships.
# "Relationships" are how each table relates to another. 

# Another aspect of Postgres is that it will create a local server on your computer, which is where the databases we 
# create will be stored. Then the databases will store the tables and the data.

In [ ]:
# pgAdmin 

# is the window into our database: it's where queries are written and executed and where results are viewed. 

# While Postgres holds the files, pgAdmin provides the access. All SQL actions take place within these two programs

In [ ]:
# 7.2.2 Create Tables in SQL

# Use our final ERD as a guide

# create six tables, one for each CSV file

# These table creation statements will be our first introduction to Structured Query Language. 

# A statement is a block of code that, when executed, sends a command to the database.

#  Before we create database, review Diagrams.

In [ ]:
# Review Diagrams

# recreating the same tables in the diagram in our SQL database.

# With the help of the diagram, we know the structure of this table: two columns with their data types. 
# Also, the table is already named. All we need to do is transfer over the same information.

# Start by using...

In [ ]:
# The Query Tool is pgAdmin's text editor, much like VSCode is for Python.

# so lets create a table

# -- Creating tables for PH-EmployeeDB
# CREATE TABLE departments (
#      dept_no VARCHAR(4) NOT NULL,
#     dept_name VARCHAR(40) NOT NULL,
#     PRIMARY KEY (dept_no),
#     UNIQUE (dept_name)
#);

In [ ]:
# CREATE TABLE is the syntax required to create a new table in SQL.

# departments is the name of the table and how it will be referenced in queries.

# So the table has been named, now the structure needs to be created. The content inside the parentheses is how we'll 
# do that.

# dept_no VARCHAR(4) NOT NULL, creates a column named "dept_no" that can hold up to four varying characters, while 
# NOT NULL tells SQL that no null fields will be allowed when importing data.

# There are times when we don't want a data field to be null. For example, the dept_no column is our primary key—each 
# row has a unique number associated with it. If we didn't have the NOT NULL constraint, then there's a chance that a 
# row (or more than one row) won't have a primary key associated with the data.

In [ ]:
# What do you think would happen if one of the rows didn’t have a unique identifier?

# Not all of the data would be present in every query, which would skew analysis results and provide incomplete lists.

In [ ]:
# dept_name VARCHAR(40) NOT NULL, creates a column similar to the dept_no, only the varying character count has a 
# maximum of 40.

# PRIMARY KEY (dept_no), means that the dept_no column is used as the primary key for this table.

# UNIQUE (dept_name) adds the unique constraint to the dept_name column.

# The unique constraint implies that the data in that column is unique. 
# This ensures that if the table were to be updated in the future, nothing will be duplicated.

In [ ]:
# The closing parenthesis and semicolon signal that the SQL CREATE TABLE statement is complete. 

# Any code added after will need to be included in a new SQL statement. 
# A statement is a command that is set up with a certain syntax.

In [ ]:
# What does it mean when the NOT NULL constraint is applied?

# Null values are not allowed in the column.

In [ ]:
# Execute the Code

# To save the table to the database, we need to execute the code. 

# In the toolbar of the pgAdmin webpage, find and click the lightning bolt symbol toward the right of the bar. 

# This button runs the code and saves our work to the database.

In [2]:
# Troubleshoot Error Messages

# Any error message will also appear in the same manner. Encountering errors will happen often and troubleshooting 
# them is a large part of being a developer. 

# Thankfully, each error message encountered will tell us why the error occurred. 
# This is great because it helps us, the developers, research and fix the problem.

In [3]:
# ERROR:  relation "departments" already exists
# SQL state: 42P07

In [ ]:
# This error occurs because SQL data is persistent and cannot be overwritten if the same command is run again. 
# Once a table has been committed to a database, it is there until a different command is run to delete it.

In [ ]:
# Data integrity is the quality of the data we're working with. Clean data will yield better results in analysis, 
# and maintaining the data integrity ensures greater accuracy and reliability.

# Dirty data is data that contains errors such as duplicates, undefined values (i.e., not a number, or NaN), or other 
# inconsistencies. This is why the NOT NULL constraint is in place.

In [ ]:
# To avoid encountering this error, highlight the code block you want to run first, then execute it. 
# This tells pgAdmin to run only that code.

In [ ]:
# Create Additional Tables

# Create another table for Employees.

# How to start create table: 

# CREATE TABLE employees (
#     emp_no INT NOT NULL,
#     birth_date DATE NOT NULL,
#     first_name VARCHAR NOT NULL,
#     last_name VARCHAR NOT NULL,
#     gender VARCHAR NOT NULL,
#     hire_date DATE NOT NULL,
#     PRIMARY KEY (emp_no)
# );

In [ ]:
# Create one more together—this time with foreign keys included. 
# Add the following code to the bottom of your query editor:

# CREATE TABLE dept_manager (
# dept_no VARCHAR(4) NOT NULL,
#     emp_no INT NOT NULL,
#     from_date DATE NOT NULL,
#     to_date DATE NOT NULL,
# FOREIGN KEY (emp_no) REFERENCES employees (emp_no),
# FOREIGN KEY (dept_no) REFERENCES departments (dept_no),
#     PRIMARY KEY (emp_no, dept_no)
# );

In [ ]:
# Remember that foreign keys reference the primary key of other tables. In the two lines above we can see that:

# The FOREIGN KEY constraint tells Postgres that there is a link between two tables

# The parentheses following FOREIGN KEY specify which of the current table's columns is linked to another table

# REFERENCES table_name (column_name) tells Postgres which other table uses that column as a primary key

# The primary key is similar, but there are two keys listed this time instead of just one.

In [ ]:
# One thing to keep in mind when working with foreign keys is that it's possible that data insertion will fail if the
# foreign key isn't present. 

# This is a "foreign key constraint" and in this case, it means that the new data needs a reference point 
# (such as dept_no or emp_no) to be successfully added to the table.

In [ ]:
# Let's create another table for the data in salaries.csv

# CREATE TABLE salaries (
#   emp_no INT NOT NULL,
#   salary INT NOT NULL,
#   from_date DATE NOT NULL,
#   to_date DATE NOT NULL,
#   FOREIGN KEY (emp_no) REFERENCES employees (emp_no),
#   PRIMARY KEY (emp_no)
# );

In [ ]:
# This code tells Postgres that our new table is named "salaries" and we'll have columns for the emp_no, salary, 
#from_date, and to_date. 

# We also have specified that certain fields aren't allowed any null space with the NOT NULL constraint, which is 
# important because we want this data to be persistent for every employee. 

# As a final step in table creation, we've also specified primary and foreign keys.

In [ ]:
# Query for Confirmation

# Confirm the tables were created successfully by running a SELECT statement, which performs a query instead of 
# constructing anything.

# Think of it as asking the database a question. For example, say we want to know how many columns are in the 
# departments table. 
# How would we ask that particular question? We would create a SELECT statement, then run the code. 
# This is called "querying the database."

In [ ]:
# How to query how many columns ar in the departments table

# In the editor, after the table creation statements, type 

# SELECT * FROM departments;

# The SELECT statement tells Postgres that we're about to query the database.
# The asterisk tells Postgres that we're looking for every column in a table.
# FROM departments tells pgAdmin which table to search.
# The semicolon signifies the completion of the query.
# After executing the SELECT statement, pgAdmin will automatically show the result in the Data Output tab at the bottom of the page.

In [ ]:
# The information in the database is static, which means that it will always be in the database unless directly 
# altered, but the query editor is not. 

# It's similar to working in a Microsoft Word document: If something happens to your computer before you saved your 
# work, there's a good chance it'll be lost. 

# If your computer crashes mid-query, the pgAdmin editor won't hold onto your code for you during a reboot.

# Our queries are the meat and potatoes of SQL. We're finding connections between different tables and answering 
# questions with the results. 

# Even though losing a query isn't the end of the world (they can be rebuilt, after all), it does take time to 
# replicate the work already completed.

In [ ]:
# 7.2.3 Import Data

# we've created a database. We've written our first SQL code and created tables modeled after our ERD. 

# The next step is to import the data from the CSV files. 

# We'll make sure all of the tables we created in pgAdmin appear in the GUI first, because we'll be using the GUI to 
# import data.

In [ ]:
# SQL is very interactive. Developers are not only importing data and asking it questions through the query language, 
# but they can also update and edit the data stored in the tables as needed.

# For example, if a single row of data needs to be added to an existing table, a developer can manually add it by 
# using the INSERT statement.

# If the data in a table is small enough in scale, it can be manually inserted this way completely, instead of 
# importing a CSV file.

# Alternately, necessary edits and updates are completed manually as well. 

# We won't be manually editing or uploading data to our tables in this lesson because our datasets are too large.

In [ ]:
# Prep to import csv files into PH-EmployeeDB

# In the pgAdmin window, select the dropdown menu for our PH-EmployeeDB database. To import data into the tables, first confirm all of our tables are listed:

# Find the PH-EmployeeDB collapsible menu and click it.
# Scroll down and click "Schemas" to expand the menu.
# Click "public."
# Scroll down to "Tables" and note the number in parentheses.

In [ ]:
# Start Import 

# To import a CSV into Postgres with pgAdmin, follow these steps. We'll customize our options to fit our data import, 
# and then check the table to make sure the data has been imported successfully. 

# Right-click the first table, departments.

# From the menu that pops up, scroll to Import/Export. 

# Toggle the button to show "Import." 

# Click the ellipsis on the Filename field to search for your project folder.

# Select departments.csv. Make sure Format is set to "csv" and Encoding is blank. Note: By default, the Encoding 
# section is blank. 
# If our files were encoded to provide an extra layer of security, we would need to select the type of encoding before
# importing them to Postgres. 
# We don't have to worry about this, though. 
# Also, if "Encoding" is filled in with an encoding type such as BIG5 or LATIN1, cancel the import and start over. 

# Leave the OID field as is, but toggle the Header field to "Yes" and select the comma as the Delimiter. 
# Note: If we don't specify that there is already a header included in the CSV data, then the header will be imported 
# as data. This would result in errors because headers don't always match the data types in the columns. 

# Click OK to begin importing the data.

In [ ]:
# Check the import by typing SELECT * FROM departments; at the bottom of the query editor. 
# The resulting table should mirror the CSV file:

In [ ]:
# 7.2.4 Troubleshoot Imports

In [ ]:
# Handle Common Errors

# What if Bobby runs into an error while he's importing the data? Below is an example of a likely error:

# DETAIL: Key(Emp_no)=10001 is not present in table "employees"

# Because the FOREIGN KEY constraint references other tables, we need to import the data in a specific order.

# For example, the dept_emp table references the Employees table through its foreign key. 
# If there is no data in the Employees table, then there are no foreign keys to link to, and an error will occur.

In [ ]:
# Handle Mismatched Data Types

# Another common scenario is when a data type in a table we've created doesn't match the CSV data. What should we do?

# Because data within a Postgres database is static, we can't go back and fix a typo in our original table creation 
# code.

In [ ]:
# If you need to update a table column to fix its data type, what is the best approach?
# Delete the table, then recreate it after updating the code.

In [ ]:
# Drop a Table

# To drop the table, the following code is used:

# DROP TABLE employees CASCADE;

# DROP TABLE employees tells Postgres that we want to remove the Employees table from the database completely.
# CASCADE; indicates that we also want to remove the connections to other tables in the database.

In [ ]:
# More on CASCADE

# Even without data, by adding foreign keys that reference other tables, we've created a network of data connections. 

# Not every table will need the CASCADE constraint, but it will come up when you need to drop a table that already has 
# a defined relationship with another. 

# Any table that does not reference a foreign key can be dropped without the CASCADE constraint.

In [ ]:
# 7.3.1 Query Dates

# future-proofing the company by determining how many people will be retiring and, of those employees, who is eligible 
# for a retirement package.

# In Python, conditionals such as "if" and "else," and the logical operator "and," are similar to conditional 
# expressions used in SQL

# search for folks who are retiring soon. The query he builds will include a condition involving employee birthdays. 
# We need to know when they were born to determine when they'll retire

In [ ]:
# Determine Retirement Eligibility

# anyone born between 1952 and 1955 will begin to retire. 

# The first query we need to help Bobby write will return a list of those employees.

In [ ]:
# SELECT first_name, last_name
# FROM employees
# WHERE birth_date BETWEEN '1952-01-01' AND '1955-12-31';


# The SELECT statement is more specific this time. Instead of an asterisk to indicate that we want all of the records,
# we're requesting only the first and last names of the employees.

# FROM employees tells SQL in which of the six tables to look.

# The WHERE clause brings up even more specifics. We want SQL to look in the birth_date column for anyone born between
# January 1, 1952, and December 31, 1955.

# Notice how BETWEEN and AND are both capitalized in our statement? This is part of the SQL syntax. 
# It not only signals the conditions present, but also makes the code easier to read.

In [ ]:
# How many employees are ready for retirement?

# 10,000 or more

In [ ]:
# Pewlett Hackard has a lot of employees getting ready to age out of the program. 
# This is going to create a considerable amount of openings. Refine this list further by looking only at how many 
# employees were born in 1952.

In [ ]:
# Create another query that will search for only 1952 birth dates.

# SELECT first_name, last_name
# FROM employees
# WHERE birth_date BETWEEN '1952-01-01' AND '1952-12-31';

# This query is almost the same as the last. We've only changed a single digit: the year was switched from 1955 to 
# 1952 after the AND clause.

In [ ]:
# Narrow the Search for Retirement Eligibility

# There are quite a few folks getting ready to retire. Each of those new queries has a lengthy list of people. 

# Let's see if we can narrow it down a bit more by adding another condition to the query.

In [ ]:
# Modified query 

# -- Retirement eligibility
# SELECT first_name, last_name
# FROM employees
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31');

In [ ]:
# We modified this query to include a specific hiring range. This time, we're looking for employees born between 1952 
# and 1955, who were also hired between 1985 and 1988. 

# The modification is subtle, too. We're going to adjust one line of the code block and add another to the end.

# The first piece, an adjustment, is to place parentheses around the WHERE clause (without including the keyword 
# itself). We'll also remove the semicolon since the code block isn't complete yet. 

# dd the final line of code. Our current code has a single condition in place that tells Postgres to search only for 
# people born between 1952 and 1955. The next line of code is our second condition that they were also hired between 
# 1985 and 1988.

# the second condition is inside parentheses? This is a tuple; in Python, data can be stored inside a tuple and 
# accessed in the same way as a list. 

# In SQL, the tuples in this block of code are part of the syntax. They basically place each condition in a group, 
# and Postgres looks for the first group first, then looks inside the second group to deliver the second condition.

# The SELECT statement, pulling data from the first and last name columns
# The FROM statement, telling Postgres from which table we're getting the data
# And two conditional statements: the dates of birth and the dates of hire

In [ ]:
# Count the Queries

# -- Number of employees retiring
# SELECT COUNT(first_name)
# FROM employees
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31');

In [ ]:
# Create New Tables

# This time, the change we'll make to the code is also small—we're modifying the SELECT statement into a SELECT INTO 
# statement. 
# This statement tells Postgres that instead of generating a list of results, the data is saved as a new table 
# completely. 

# Update our code to include the INTO portion of the SELECT statement.

# Insert a new, blank line between the SELECT and FROM sections of the code. 
# In this vacant space, type in INTO retirement_info. With the addition of this line, we're telling Postgres to save 
# the data into a table named "retirement_info."

In [ ]:
# -- create a new table of retiring employees

# SELECT first_name, last_name
# INTO retirement_info
# FROM employees
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31');

In [ ]:
# Our list of data from earlier is now an actual table that we can use with statements and functions to perform 
# analysis. 

# Additionally, if you refresh the list of tables from the dropdown menu on the left, it will now appear in the list.

In [ ]:
# Export Data

# Right-click on your new table and select "Import/Export." 
# Instead of importing anything, this time we'll be exporting.

# STEPS

# Keep the Import/Export button toggled to "Export."

# Click on the ... in the Filename field to automatically select the same directory from which you imported the other 
# CSVs. Select a directory, but be sure to rename it to retirement_info.csv.

# Be sure the format is still CSV.

# Toggle the Header section to "Yes" to include column names in the new CSV files.

# Select the comma as the delimiter to maintain the same format with all CSV files.

# Click OK to start the export. After the file has been created, pgAdmin will confirm our file is ready to be viewed.

In [4]:
# 7.3.2 Join the Tables

# Our queries have helped Bobby complete the task that was asked of him, but the number of retirement-ready employees
# was staggering.

# Bobby's been asked to dive back into SQL and create a separate list of employees for each department. 

# We can only gain so much information from our data as it stands, so we'll need to start combining it in different 
# ways using joins.

# Merging DataFrames in Pandas is very similar to joining tables in SQL. There are several different types of joins 
# and each one will yield a different result. 

# We'll cover each type of join available in SQL as well as where and when to use it.

In [ ]:
# Make Sense of Tables with Joins

# Right now, there are seven tables available for us to use. Between them, we have all of the information we need to 
# help Bobby create his new lists, but the data is in separate tables. 

# We could present multiple lists and explain the connections, but that's messy and confusing. 

# Instead, we need to perform a join on the different tables. In SQL, combining two or more tables is called a join.

In [ ]:
# Much like joining Python DataFrames, we can join SQL tables together using a common column. 
# We don't have to join complete tables. We can specify which columns from each table we'd like to see joined. 
# Take another look at our ERD.

# Bobby's boss wants the same list of employees—only he wants them broken down into departments. We can already see 
# that the Employees and Departments tables don't have a common column between them.

In [ ]:
# Which tables would you join together to help Bobby create a list of employees grouped by their departments?

# Join the Employees table to the Dept_Emp table on the emp_no column.

In [ ]:
# The Dept_Emp table contains both an emp_no and a dept_no. Between the Employees table and the Dept_Emp table, we would have:

# Employee numbers
# Employee names
# Their departments

In [ ]:
# We could combine the two tables to have everything we need for Bobby's boss. Except, the Employees table still 
# contains every employee, not just those getting ready for retirement. 

# Our retirement_info table has the correct list of employees, but not their employee number, so we can't actually 
# join it with anything.

# What we'll need to help Bobby do first is recreate the retirement_info table so it includes the emp_no column. 

# With this column in place, we'll be able to join our new table full of future retirees to the Dept_Emp table, so we 
# know which departments will have job openings (and how many).

In [ ]:
# What is the code for dropping a table?
# DROP TABLE retirement_info;

In [ ]:
# Recreate the retirement_info Table with the emp_no Column

# The first task we'll help Bobby with is recreating the retirement_info table so it contains unique identifiers 
# (the emp_no column). This way, we will be able to perform joins using this table and others.

In [ ]:
# Drop the current retirement_info table. At the bottom of the query editor, type DROP TABLE retirement_info; and then
# execute the code. 

# Next, we're going to update our code to create the retirement_info table. 

# Keeping the ERD in mind, we know we want the unique identifier column included in our new table. 

# Add that to our select statement.

In [ ]:
# -- Create new table for retiring employees
# SELECT emp_no, first_name, last_name
# INTO retirement_info
# FROM employees
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31');
# -- Check the table
# SELECT * FROM retirement_info;

In [ ]:
# See "Types_of_joins" file for joins info

In [ ]:
# Use Aliases for Code Readability

# Joining tables can get messy. There are several different table and column name combinations to keep track of, and 
# they can get lengthy as the query is created.

# SQL has a method to shorten the code and provide greater readability by using an alias instead of a full tablename.

In [ ]:
# An alias in SQL allows developers to give nicknames to tables. This helps improve code readability by shortening 
# longer names into one-, two-, or three-letter temporary names. 
# This is commonly used in joins because multiple tables and columns are often listed.

In [ ]:
# Comparisons of previous code vs. aliases code 

# -- Joining retirement_info and dept_emp tables (Left Join)
# SELECT retirement_info.emp_no,
#      retirement_info.first_name,
#  retirement_info.last_name,
#      department_employees.to_date    
#  FROM retirement_info
#  LEFT JOIN department_employees
#  ON retirement_info.emp_no = department_employees.emp_no;

# -- Using Aliases instead of full table titles, refactoring "joining retirement_info and Department_Employees with left join"
#  SELECT ri.emp_no,
#     ri.first_name,
# ri.last_name,
#     de.to_date
# FROM retirement_info as ri
# LEFT JOIN dept_emp as de
# ON ri.emp_no = de.emp_no;

# -- Joining departments and dept_manager tables
# SELECT departments.dept_name,
#      dept_manager.emp_no,
#      dept_manager.from_date,
#      dept_manager.to_date
# FROM departments
# INNER JOIN dept_manager
# ON departments.dept_no = dept_manager.dept_no;

# -- Refactoring Joining departments and dept_manager tables with aliases
# SELECT d.dept_name,
#      dm.emp_no,
#      dm.from_date,
#      dm.to_date
# FROM departments as d
# INNER JOIN dept_manager as dm
# ON d.dept_no = dm.dept_no;

In [ ]:
# Use Left Join for retirement_info and dept_emp tables

# Now that we have a list of all retirement-eligible employees, it's important to make sure that they are actually 
# still employed with PH. 

# To do so, we're going to perform another join, this time between the retirement_info and dept_emp tables. 

# The basic information to include in the new list is:

# Employee number
# First name
# Last name
# To-date

# In the pgAdmin query editor, let's begin by specifying these columns and tables.

In [ ]:
# In the pgAdmin query editor, let's begin by specifying these columns and tables.

# SELECT ri.emp_no,
#     ri.first_name,
#     ri.last_name,
# de.to_date

In [ ]:
# Next, we need to create a new table to hold the information. Let's name it "current_emp."

# INTO current_emp

In [ ]:
# The next step is to add the code that will join these two tables.

# FROM retirement_info as ri
# LEFT JOIN dept_emp as de
# ON ri.emp_no = de.emp_no

In [ ]:
# Finally, because this is a table of current employees, we need to add a filter, using the WHERE keyword and the 
# date 9999-01-01.

# WHERE de.to_date = ('9999-01-01');

In [ ]:
# 7.3.4 Use Count, Group By, and Order By

# We know that we'll need to use some joins to organize the data we need in one table. 

# We also know that Bobby needs a count of employees for each department.

In [ ]:
# To organize the counts, we'll need to add a GROUP BY clause to our select statement. 

# In Postgres, GROUP BY is used when we want to group rows of identical data together in a table. 

# It is precisely the clause we want to group separate employees into their departments.

In [ ]:
# In your query editor, join the current_emp and dept_emp tables. The new code should be added at the bottom, below 
# the existing code.

In [ ]:
# -- Employee count by department number
# SELECT COUNT(ce.emp_no), de.dept_no
# FROM current_emp as ce
# LEFT JOIN dept_emp as de
# ON ce.emp_no = de.emp_no
# GROUP BY de.dept_no;

In [ ]:
# A few things to note:

# The COUNT function was used on the employee numbers.

# Aliases were assigned to both tables.

# GROUP BY was added to the SELECT statement.

# We added COUNT() to the SELECT statement because we wanted a total number of employees. 
# We couldn't actually use the SUM() function because the employee numbers would simply be added, which would leave 
# us with one really large and useless number.

# Bobby's boss asked for a list of how many employees per department were leaving, so the only columns we really 
# needed for this list were the employee number and the department number.

# We used a LEFT JOIN in this query because we wanted all employee numbers from Table 1 to be included in the returned
# data. Also, if any employee numbers weren't assigned a department number, that would be made apparent.

# The ON portion of the query tells Postgres which columns we're using to match the data. Both tables have an 
# emp_no column, so we're using that to match the records from both tables.

# GROUP BY is the magic clause that gives us the number of employees retiring from each department.

In [ ]:
# Did you notice that the data output isn't in any particular order? In fact, if you executed the code again, the same
# numbers would be returned in another order altogether. 

# Thankfully, there is one additional clause we can add to the query to keep everything in order: ORDER BY.

# ORDER BY does exactly as it reads: It puts the data output in order for us. 

# Let's update our code. In the query editor, add the ORDER BY line to the end of the code block, so your code looks 
# like the following:

In [ ]:
# -- Employee count by department number
# SELECT COUNT(ce.emp_no), de.dept_no
# FROM current_emp as ce
# LEFT JOIN dept_emp as de
# ON ce.emp_no = de.emp_no
# GROUP BY de.dept_no
# ORDER BY de.dept_no;

In [ ]:
# 7.3.5 Create Additional Lists

# Because of the number of people leaving each department, the boss has requested three lists that are more specific:

# 1. Employee Information: A list of employees containing their unique employee number, their last name, first name, 
# gender, and salary

# 2. Management: A list of managers for each department, including the department number, name, and the manager's 
# employee number, last name, first name, and the starting and ending employment dates

# 3. Department Retirees: An updated current_emp list that includes everything it currently has, but also the 
# employee's departments

In [ ]:
# List 1: Employee Information

# The first requested list is general employee information, but with their current salaries included. 

# in our ERD, Employees table and salaries table are connected by emp_no

# he only problem is that the Employees table holds data for all employees, even the ones who are not retiring. 
# If we use this table, we will have a far bigger list to present than expected.

In [ ]:
# To include all of the information Bobby's manager wants, we'll need to create an entirely new table from the 
# beginning. Here's everything we need:

# Employee number
# First name
# Last name
# Gender
# to_date
# Salary

In [ ]:
# According to our ERD, the Salaries table has a to_date column in it. 

# Let's make sure it aligns with the employment date or something else. 

# Run a SELECT statement in the query editor to take a look.

# SELECT * FROM salaries;

In [ ]:
# These dates are all over the place. We want to know what the most recent date on this list is, so let's sort that 
# column in descending order. 

# Back in the query editor, modify our select statement as follows:

# SELECT * FROM salaries
# ORDER BY to_date DESC;

In [ ]:
# That looks a little better, but what's wrong with the date? It's certainly not the most recent date of employment, 
# so it must have something to do with salaries. 

# Looks like we'll need to pull employment dates from the dept_emp table again.

# Now that we know what data we need from which tables, we can get started. 

# It doesn't have to be from scratch, though. We've already created code to filter the Employees table to show only
# employes born and hired at the correct time, so let's look at our query editor to see if we can reuse that code.

In [ ]:
# Previous code we will refractor 

# -- Create a new table of retiring employees
# SELECT first_name, last_name
# INTO retirement_info
# FROM employees
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31');

In [ ]:
# add gender

# SELECT emp_no,
#     first_name,
# last_name,
#     gender

In [ ]:
# We won't want to save this query into the same table we used before. Not only would it be confusing, but Postgres 
# wouldn't allow it anyway. 

# We'll want to update the INTO portion. 

# The rest of the code looks good, as we want the same filters to be in place, so leave it as-is.

# INTO emp_info
# FROM employees
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31');

In [ ]:
# new refractored code 

# -- Create a new table of retiring employees refractored (add gender, create new temporary table)
# SELECT emp_no,
#     first_name,
# last_name,
#     gender
#     INTO emp_info
# FROM employees
# WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
# AND (hire_date BETWEEN '1985-01-01' AND '1988-12-31');

In [ ]:
# Now that our employees table has been filtered again and is being saved into a new temporary table (emp_info), we 
# need to join it to the salaries table to add the to_date and Salary columns to our query. 

# This will require a join, so let's get started. 

# First, update the SELECT statement by adding the two columns we need from the Salaries table. 

# Remember to use aliases to make it easier to read.

In [ ]:
# All columns are accounted for.

# SELECT e.emp_no,
#    e.first_name,
# e.last_name,
#     e.gender,
#     s.salary,
#     de.to_date

In [ ]:
# We already know we're naming our new table emp_info, so we can leave the INTO statement as-is. 

# Let's move on to the joins. In this case, we'll use inner joins in our query. 

# This is because we want only the matching records.

# Back in the query editor, update the INTO and FROM lines, then add the first join directly below.

# INTO emp_info
# FROM employees as e
# INNER JOIN salaries as s
# ON (e.emp_no = s.emp_no)

In [ ]:
# Up to this point, we have updated and added code to:

# Select columns from three tables
# Create a new temp table
# Add aliases
# Join two of the three tables

In [ ]:
# Adding a third join seems tricky, but thankfully, the syntax is exactly the same. 
# All we need to do is add the next join right under the first. Back in the query editor, add the following:

# INNER JOIN dept_emp as de
# ON (e.emp_no = de.emp_no)

In [ ]:
# Almost there! We have all of the joins, but we still need to make sure the filters are in place correctly. 

# The birth and hire dates are still resting right under our joins, so update that with the proper aliases. 

# For more on how to join two or more tables, refer to Joining More than Two Tables (Links to an external site.).

In [ ]:
# WHERE (e.birth_date BETWEEN '1952-01-01' AND '1955-12-31')
#      AND (e.hire_date BETWEEN '1985-01-01' AND '1988-12-31')

# Okay, now we have joined all three tables and have updated the birth and hire date filters to reference the correct 
# table using an alias. We have one more filter to add, then we're ready to check and export the data.

In [ ]:
# The last filter we need is the to_date of 999-01-01 from the dept_emp table. 

# To add another filter to our current WHERE clause, we will use AND again. In the query editor, add this last line:

#      AND (de.to_date = '9999-01-01');

In [ ]:
# Before we create a temporary table using this code, comment out the INTO line so that we don't run it with the rest.

# This way, we'll be able to see the results of our code immediately. 

# This is useful because if there is a mistake, we won't need to backtrack and delete the table.

In [6]:
# Highlight the INTO emp_info line and press Command + forward slash, / (for Mac)

# This will automatically add the double hyphen to indicate a comment. 

# Now highlight the entire block and run the code.

# The results are looking good and the list contains everything Bobby's boss requested. 

# Let's uncomment INTO and run the code again to save the temporary table. 

# Remember to export this list as a CSV into your current project folder.

# Those salaries still look a little strange, though. 

# Bobby will need to ask his manager about the lack of employee raises.

In [ ]:
# List 2: Management

# The next list to work on involves the management side of the business. 
# Many employees retiring are part of the management team, and these positions require training, so Bobby is creating 
# this list to reflect the upcoming departures.

# This list includes the manager's employee number, first name, last name, and their starting and ending employment 
# dates. Look at the ERD again and see where the data we need resides.

In [ ]:
# We can see that the information we need is in three tables: Departments, Managers, and Employees. 

# Remember, we're still using our filtered Employees table, current_emp, for this query.

# Let's do this one together. At the bottom of the query editor, type the following:

In [ ]:
# -- List of managers per department
# SELECT  dm.dept_no,
#         d.dept_name,
#         dm.emp_no,
#         ce.last_name,
#         ce.first_name,
#         dm.from_date,
#         dm.to_date
# INTO manager_info
# FROM dept_manager AS dm
#     INNER JOIN departments AS d
#         ON (dm.dept_no = d.dept_no)
#     INNER JOIN current_emp AS ce
#         ON (dm.emp_no = ce.emp_no);

In [ ]:
# The result of this query looks even more strange than the salaries. How can only five departments have active 
# managers? This is another question Bobby will need to ask his manager.

In [ ]:
# List 3: Department Retirees

# The final list needs only to have the departments added to the current_emp table. 

# We've already consolidated most of the information into one table, but let's look at the department names and 
# numbers we'll need.

In [ ]:
# The Dept_Emp and Departments tables each have a portion of the data we'll need, so we'll need to perform two more 
# joins in the next query.

# We'll use inner joins on the current_emp, departments, and dept_emp to include the list of columns we'll need to 
# present to Bobby's manager:

# emp_no
# first_name
# last_name
# dept_name

In [ ]:
# In the query editor, begin with the SELECT statement. Type the following:

# SELECT ce.emp_no,
# ce.first_name,
# ce.last_name,
# d.dept_name

In [ ]:
# Notice we have only selected four columns from two tables, yet there are three tables in the ERD that we need. 

# That's because we don't need to see a column from each table in a join, but we do need the foreign and primary keys 
# to link them together.

In [ ]:
# Continue with the INTO statement, this time naming the temporary table dept_info.

# INTO dept_info

# (lead with -- before executing)

In [ ]:
# Next, start defining the aliases with FROM and the joins. In the query editor, type the following:

# FROM current_emp as ce
# INNER JOIN dept_emp AS de
# ON (ce.emp_no = de.emp_no)
# INNER JOIN departments AS d
# ON (de.dept_no = d.dept_no);

In [ ]:
# After executing the code and checking the results, a few folks are are appearing twice. 
# Maybe they moved departments? 

# It's interesting how each list has given Bobby a question to ask his manager. 

# So far, Bobby would like to know the following:

# What's going on with the salaries?
# Why are there only five active managers for nine departments?
# Why are some employees appearing twice?


# To help Bobby find these answers, we're going to create tailored lists.

In [ ]:
# 7.3.6 Create a Tailored List

# Now, we have created a model of the database with an ERD, imported data, and to tie it all together, we have performed
# many queries to help PH future-proof the company.

# one manager has asked for an additional list. This list will be created using the same tools we've been working with
# so far: queries using filters, joins, and functions.

In [ ]:
# The department head for Sales was a little surprised at how many folks will be leaving, so has asked for an 
# additional list, containing only employees in their department. 

# The new list Bobby will need to make will contain everything in the retirement_info table, only tailored for the 
# Sales team.

In [ ]:
# Create a query that will return only the information relevant to the Sales team. The requested list includes:

# Employee numbers
# Employee first name
# Employee last name
# Employee department name

In [ ]:
# --Create a query that will return only the information relevant to the Sales team.
# SELECT re.emp_no,
# 	re.first_name,
# 	re.last_name,
# 	de.dept_name
# INTO sales_info
# FROM retirement_info AS re
# INNER JOIN dept_info AS de
# 	ON(re.emp_no = de.emp_no)
# WHERE de.dept_name = 'Sales'

# -- view sales_info table
# SELECT*FROM sales_info

In [ ]:
# The same manager asking for a list of retiring employees has asked for a list of employees in both the Sales and 
# Development departments because, together, both managers want to try a new mentoring program for employees getting 
# ready to retire. 

# Instead of having a large chunk of their workforce retiring, they want to introduce a mentoring program: experienced
# and successful employees stepping back into a part-time role instead of retiring completely. 

# Their new role in the company would be as a mentor to the newly hired folks. 

# Before they can present their idea to the CEO, they'd like to have an idea of how many people between the 
# departments they would need to pitch their idea to.

In [ ]:
# Create another query that will return the following information for the Sales and Development teams:

# Employee numbers
# Employee first name
# Employee last name
# Employee department name

# Hint: You'll need to use the IN condition with the WHERE clause. 

# The IN condition is necessary because you're creating two items in the same column.

In [ ]:
# -- sales and development merge
# SELECT re.emp_no,
# 	re.first_name,
# 	re.last_name,
# 	de.dept_name
# INTO sales_and_dev_info
# FROM retirement_info AS re
# INNER JOIN dept_info AS de
# 	ON(re.emp_no = de.emp_no)
# WHERE de.dept_name IN ('Sales', 'Development')

# -- view sales_and_dev info
# SELECT*FROM sales_and_dev_info

In [ ]:
# DISTINCT ON statement 

# is used specifically with PostgreSQL databases. 

# With the DISTINCT ON statement, you can retrieve a single row defined by the ON () clause. 
# The row that is returned is specified by the ORDER BY clause.